venv/

.pylintrc

__pycache__/

cache/

.vscode

.idea

db.sqlite3

# media/

docs/

# Environment variables
.env
.env.local

# Static files collected
staticfiles/

# Python
*.pyc
*.pyo
*.pyd
.Python

# Database
*.db
*.sqlite3


# Logs
*.log

