asgiref
boto3
botocore
Django==4.2.7
dj-database-url
gunicorn
environs
django-ckeditor-5
crispy-bootstrap5
django-crispy-forms
django-jazzmin
django-js-asset
django-storages
django-taggit
Pillow
whitenoise
shortuuid
stripe
psycopg2-binary
paypal-payouts-sdk
paypalhttp
django-paypal
requests